h1 {
    color: rgba(29, 122, 181);
  }

h2{
    color: rgba(29, 122, 181);
}

h3{
    font-weight: bold;
    color: white;
}


.navbar-custom .navbar-brand{ 
  color: white;
  background-color: rgba(29, 122, 181);
  padding-right: 20px;
  padding-left: 20px;
}
