h1 {
    font-family: 'Garamond', Times, serif;
    font-weight: bold;
    color: rgba(74, 170, 165);
  }

h2{
  font-family: 'Garamond', Times, serif;
    font-weight: bold;
    color: rgba(74, 170, 165);
}